.check__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    box-shadow: 0 0 0 0.1em lightgray;
    margin: 1em;
}

.check__input:checked {
    box-shadow: 0 0 0 0.1em darkseagreen;
}

.check__input:checked:before {
    content: "";
    position: absolute;
    top: 18px; left: 5px;
    width: 0.65em;
    height: 0.1em;
    background: darkseagreen;
    transform: rotate(45deg);
}

.check__input:checked:after {
    content: "";
    position: absolute;
    top: 13px; left: 7px;
    width: 1.45em;
    height: 0.1em;
    background: darkseagreen;
    transform: rotate(-60deg);
}