.destroy {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: white;
    color: white;
    font-size: xx-large;
    float: right;
}
.destroy:hover {
    color: lightcoral;
}
.destroy:after {
    content: '×';
}